@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "PPNeue";
  src:
    local("PPNeue"),
    url("/fonts/PPNeueBit-Bold.woff2") format("woff");
}

@font-face {
  font-family: "Editorial New";
  src:
    local("Editorial New"),
    url("/fonts/EditorialNew-Regular.woff2") format("woff");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-x: hidden;
}

body {
  color: theme('colors.white');
  font-family: 'PPNeue';
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  z-index: 10;
  position: relative;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme('colors.black'); 
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme('colors.gray.500'); 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.200')
}
